@define-color borders_breeze #5c5c5c;
@define-color content_view_bg_breeze #161616;
@define-color error_color_backdrop_breeze #ee5396;
@define-color error_color_breeze #ee5396;
@define-color error_color_insensitive_backdrop_breeze #5d2940;
@define-color error_color_insensitive_breeze #5d2940;
@define-color insensitive_base_color_breeze #151515;
@define-color insensitive_base_fg_color_breeze #636363;
@define-color insensitive_bg_color_breeze #232323;
@define-color insensitive_borders_breeze #353535;
@define-color insensitive_fg_color_breeze #6c6c6c;
@define-color insensitive_selected_bg_color_breeze #232323;
@define-color insensitive_selected_fg_color_breeze #6c6c6c;
@define-color insensitive_unfocused_bg_color_breeze #232323;
@define-color insensitive_unfocused_fg_color_breeze #6c6c6c;
@define-color insensitive_unfocused_selected_bg_color_breeze #232323;
@define-color insensitive_unfocused_selected_fg_color_breeze #6c6c6c;
@define-color link_color_breeze #42be65;
@define-color link_visited_color_breeze #ffffff;
@define-color success_color_backdrop_breeze #be95ff;
@define-color success_color_breeze #be95ff;
@define-color success_color_insensitive_backdrop_breeze #4d3f63;
@define-color success_color_insensitive_breeze #4d3f63;
@define-color theme_base_color_breeze #161616;
@define-color theme_bg_color_breeze #252525;
@define-color theme_button_background_backdrop_breeze #2d2d2d;
@define-color theme_button_background_backdrop_insensitive_breeze #2b2b2b;
@define-color theme_button_background_insensitive_breeze #2b2b2b;
@define-color theme_button_background_normal_breeze #2d2d2d;
@define-color theme_button_decoration_focus_backdrop_breeze #33b1ff;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #2d5771;
@define-color theme_button_decoration_focus_breeze #33b1ff;
@define-color theme_button_decoration_focus_insensitive_breeze #2d5771;
@define-color theme_button_decoration_hover_backdrop_breeze #33b1ff;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #2d5771;
@define-color theme_button_decoration_hover_breeze #33b1ff;
@define-color theme_button_decoration_hover_insensitive_breeze #2d5771;
@define-color theme_button_foreground_active_backdrop_breeze #ffffff;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #6c6c6c;
@define-color theme_button_foreground_active_breeze #e6e1e5;
@define-color theme_button_foreground_active_insensitive_breeze #6c6c6c;
@define-color theme_button_foreground_backdrop_breeze #ffffff;
@define-color theme_button_foreground_backdrop_insensitive_breeze #717171;
@define-color theme_button_foreground_insensitive_breeze #717171;
@define-color theme_button_foreground_normal_breeze #ffffff;
@define-color theme_fg_color_breeze #ffffff;
@define-color theme_header_background_backdrop_breeze #161616;
@define-color theme_header_background_breeze #252525;
@define-color theme_header_background_light_breeze #252525;
@define-color theme_header_foreground_backdrop_breeze #ffffff;
@define-color theme_header_foreground_breeze #ffffff;
@define-color theme_header_foreground_insensitive_backdrop_breeze #ffffff;
@define-color theme_header_foreground_insensitive_breeze #ffffff;
@define-color theme_hovering_selected_bg_color_breeze #33b1ff;
@define-color theme_selected_bg_color_breeze #33b1ff;
@define-color theme_selected_fg_color_breeze #e6e1e5;
@define-color theme_text_color_breeze #ffffff;
@define-color theme_titlebar_background_backdrop_breeze #161616;
@define-color theme_titlebar_background_breeze #252525;
@define-color theme_titlebar_background_light_breeze #252525;
@define-color theme_titlebar_foreground_backdrop_breeze #ffffff;
@define-color theme_titlebar_foreground_breeze #ffffff;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #ffffff;
@define-color theme_titlebar_foreground_insensitive_breeze #ffffff;
@define-color theme_unfocused_base_color_breeze #161616;
@define-color theme_unfocused_bg_color_breeze #252525;
@define-color theme_unfocused_fg_color_breeze #ffffff;
@define-color theme_unfocused_selected_bg_color_alt_breeze #19435d;
@define-color theme_unfocused_selected_bg_color_breeze #19435d;
@define-color theme_unfocused_selected_fg_color_breeze #ffffff;
@define-color theme_unfocused_text_color_breeze #ffffff;
@define-color theme_unfocused_view_bg_color_breeze #151515;
@define-color theme_unfocused_view_text_color_breeze #636363;
@define-color theme_view_active_decoration_color_breeze #e6e1e5;
@define-color theme_view_hover_decoration_color_breeze #e6e1e5;
@define-color tooltip_background_breeze #252525;
@define-color tooltip_border_breeze #5c5c5c;
@define-color tooltip_text_breeze #ffffff;
@define-color unfocused_borders_breeze #5c5c5c;
@define-color unfocused_insensitive_borders_breeze #353535;
@define-color warning_color_backdrop_breeze #be95ff;
@define-color warning_color_breeze #be95ff;
@define-color warning_color_insensitive_backdrop_breeze #4d3f63;
@define-color warning_color_insensitive_breeze #4d3f63;
